# Godot 4+ specific ignores
.godot/

# Lazygit
lazygit.exe

# These addon files keep changing
addons/timer/time.txt
addons/godot-jolt/windows/~godot-jolt_windows-x64_editor.dll
addons/trailmesh/bin/~libtrailmesh.windows.debug.x86_64.dll